
/*
    Main background color: #D7CCC8;
    Main heading text color: #EFEBE9;
    Heading background color: #795548;
    Navigation background color: #BCAAA4;
    Navigation text color: #EFEBE9;
*/


html, body {
    background-color: #D7CCC8;
    font-family: 'Noto Sans',
    sans-serif;
    letter-spacing: 0.05rem;
    height: 100%;
}

h1 {
    background-color: #795548;
    color: #EFEBE9;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 5px;
}

.main {
    max-width: 750px;
    display: block;
    margin: auto;
}

.nav {
    background-color: #BCAAA4;
    width: 720px;
    margin: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 15px 0;
}

.nav a {
    text-decoration: none;
    margin-left: 10px;
    color: #795548;
}

.nav a:hover {
    background-color: #EFEBE9;
    padding: 10px;
    border-radius: 5px;
}

img {
    padding: 15px 20px;
    display: block;
    margin: auto;
    height: auto;
    width: 500px;
    border-radius: 8%;
}

h2, h3 {
    background-color: #A1887F;
    color: #D7CCC8;
    padding: 6px 12px;
    border-radius: 5px;
}